<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>About us</title>
    <link rel="stylesheet" href="../static/about.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>About Us</h1>
      <p>
        Welcome to AgroTech Crop Recommender, where cutting-edge technology meets agricultural expertise to revolutionize crop selection and farming practices. At AgroTech, we are passionate about empowering farmers with personalized recommendations based on comprehensive data analysis, enabling them to maximize their agricultural productivity sustainably.</p>
      <br />
      <h3>Our Mission</h3>
      <p>At AgroTech, our mission is to leverage advanced predictive analytics and machine learning algorithms to recommend the most suitable crops for farmers based on their specific conditions and preferences. We aim to provide farmers with actionable insights that optimize crop selection, improve resource allocation, and enhance overall farm profitability.</p>
      <br />
      <h3>Our Approach</h3>
      <p>Utilizing a multidisciplinary approach, we combine expertise in agronomy, data science, and market analysis to develop a crop recommendation system tailored to individual farmers' needs.</p>


    </main>
  </body>
</html>
